.menuBox(style="display:none")
  ul
    li
      a.active(href="#") 關於無翅聯盟
    li
      a(href="#") 加入聯盟
    li
      a(href="#") 聯盟英雄榜
    li
      a(href="#") 
        span.icon-video
        | 護鯊短片
    li
      a(href="#")
        span.icon-home
